#
# Copyright (C) 2016+ AzerothCore <www.azerothcore.org>, released under GNU AGPL v3 license: https://github.com/azerothcore/azerothcore-wotlk/blob/master/LICENSE-AGPL3
#

[worldserver]

########################################
# HardMode configuration
########################################
#
#    HardMode.Enable
#        Description: 启用/禁用HardMode模式。
#        Default:     0 - Disabled
#                     1 - Enabled
#        Type:        bool
#

HardMode.Enable = 0

#
#    HardMode.Inspect.Alert
#        Description: 通知检查的玩家目标已启用的模式。
#                     0 - Disabled
#        Default:     1 - Enabled
#        Type:        bool
#

HardMode.Inspect.Alert = 1

#
#    HardMode.Restrict.Interact.Group.Range
#        Description: 在此限制下，玩家可以组队的级别范围。
#        Default:     3
#        Type:        uint32
#

HardMode.Restrict.Interact.Group.Range = 3

#
#    HardMode.Restrict.BadLuck.Chance
#        Description: 在此限制下物品被删除的几率。
#        Note: 当一个物品掉落在BadLuck模式中，还会进行另一个内部掷骰，如果未通过此掷骰，
#              物品将从战利品列表中删除。这就是此配置项的作用。
#        Default:     10
#        Type:        uint32
#        Range:       0 - 100
#

HardMode.Restrict.BadLuck.Chance = 10